@charset "utf-8";
/* CSS Document */

#titulo_acercaDe{
   position: absolute;
  top:150px; 
  left:45%;
  
}

#contenido_acercaDe{
  position: absolute;
  top:200px; 
  left:230px;
  max-height:500px;
  min-height:300px;
  max-width:900px;
  min-width:600px;
  background:#FFF;
  padding:15px;
  border: Green 1px solid; 

}