#productos{
    margin-top: 4%;
    font-size: 20px;
    width: 850px;
    margin-left: 10%;
    position: absolute;
}


<!-- -->
#div_cuerpo{

 -moz-padding-start: 5%;

overflow-y: scroll;
height: 74%;
min-height: 428px;
width:962px;
position: absolute;
top: 120px;
margin: auto auto 70px 14%;
 
background-color:#FFF;
box-shadow:0px 0px 10px 2px #82c396;

}

#tabla_productos{
	width: 90%;
	height: 60px;
    width: 90%;
  
    left: 0px;
    border-collapse: collapse;
}

#tabla_titulo{
	background-color: #82c396;
    height: 60px;
    width: 90%;
    margin: auto;
    left: 0px;
}

.tabla_textotitulo{
	height:30px;
	color:#FFF;
	font-size:15px;
	padding-top:5px;
	padding-left:5px;
	text-align: center;
}

.tabla_textocontenido{
	height:30px;
	width: 50px;
	color:#82c396;
	font-size:15px;
	padding-top:5px;
	padding-left:5px;
	text-align: center;
}

table {
  border: #82c396 5px solid;
  border-collapse: separate;
  border-spacing: 5px;
  cellpadding:10px;
 
}




<!-- -->





#btn_comprar{
    top: 60px;
}

#cantidad{
 width: 50px;   
}

#resumen{
  
    margin-left: 72%;
    font-size: 20px;
    line-height: 150%;
    width: 200px;
    position:fixed ;
}

#img_producto {
   
    width: 100px;
}



tr.fila_producto{
    height: 100px;
    border-bottom: 1px solid #82c396;
}

a.eliminar_prod:link,a.eliminar_prod:visited {
    color: red;
    text-decoration: none;
}
