@charset "utf-8";
/* CSS Document */

#titulo_acercaDe{
   position: absolute;
  top:150px; 
  left:40%;
  
}

#contenido_acercaDe{
   position: absolute;
  top:200px; 
  left:230px;
  max-height:1000px;
  min-height:1000px;
  max-width:900px;
  min-width:600px;
}