@CHARSET "ISO-8859-1";
#producto{
    border: 1px solid #c8c8c8;
    float: left;
    width: 200px;
    /*border: 1px solid black;*/
     margin-top: 1%;
}

#producto:hover{
    border: 1px solid #82C396;
    
}

#productos{
    position: absolute;
    margin-left: 15%;
    margin-top: 1%;
}

.link_catego{
    text-decoration: none;
}

.link_catego:hover{
    text-decoration: underline;
    color: green;
}


#info{
    float: right;
    position: absolute;
    margin-left: 45%;
    margin-top: 1%;
}

#info_gral{
    margin-top: 5%;
}

#linea_img{
    width: 50px;
    height: 50px;
    margin: 0.5em 0.2em;
}

#img_principal img{
    width: 100%;
    height: 100%;
}

#btn_buscar{
    position: relative;
    left: 275px;
    top: 0px;
}

#txt_buscar{
    height: 20px;
    width: 260px;
    position: absolute;

}
.elem_categ{
    padding: 1em;
    border: 1px solid #c8c8c8;
}
#nombreProducto{
    text-align: center;
    height: 30px;
    margin-top: 6%;
    font-size: 16px;
}
#precio{
    width: 60%; 
    margin-top: 3%;
}

#precioDetalles{
    border: 1px solid #c8c8c8;
    height: 25px;
}
#detalles{
    width: 40%;
    margin-left: 10%;
    margin-top: 0%;
    color: #97c297;
}

a:link, a:visited{
	color:#97c297;
	text-decoration:none;
	}

a:hover{
	color:#62d7ba;
	text-decoration:underline;
	}