@CHARSET "ISO-8859-1";
#cintilla{
    height: 90px;
    background-color: #82c396;
    z-index: 99;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
}

#contenedor{
	height: 100%;
	border-bottom-color: white;
	width:100%;
	margin-left: auto ;
    margin-right: auto ;		 
	/*el valor 'auto' lo determina el navegador*/
	padding:0px;
}

#div_encabezado{
background-image:url('../imagen/FondoEncabezado.gif');	
height: 105px;
width: 100%;
padding: auto;
margin:auto;
    position:fixed;
    z-index: 100;
	
}

#logotipo{
	height: 80%;
	width: 60%;
	background-image:url("../imagen/NombreLogo.gif");
	background-repeat:no-repeat;
    position: relative;
	background-size:auto;
	float:left;
}

#btns_identificarse{
	height: 50%;
	width: 40%;
	margin: 0px;
	float:left;
}

#identificarse{
	top: 20%;
	position:relative;
	left: 125px;
}
#registrarse{
	position:absolute;
	top: 10%;

}

#nombre_usuario{
left:0px; width:132px;
}

#carrito_compras{
	left:135px; width:96px;
}

#CerrarSesion{left:235px; width:63px;}
#CerrarSesion{ background:url("../imagen/botones.gif") -232px 0;}
#CerrarSesion a:hover{background: url("../imagen/botones.gif") -232px -39px;}


#div_menu{
	height:20%;
	width:100%;
	padding-top:auto;
	text-align:center;
	clear:both;
}

.menu{
	font-size: 14pt;
	font-weight:100;
	text-decoration: none;
	color:#82c396;
	margin-right:25px;
	}

 a:hover{
	color:#62d7ba;
	text-decoration:underline;
	}
.opcion{
float: left;
width: 25%
}


#div_registro_iniciar{
float: right;
margin-right: 20px;
margin-top: 20px
}

.linkmenu{
width: 98px;
height: 38px;
}

.link_iniciar_registrarse{
width: 90px;
height: 40px; 
}


#div_cuerpo{
height: 100%;
position: relative;
    top: 110px;
}

#img_cuerpo{
width: 600px;
height: 300px; 
}

#div_img_cuerpo{
width: 600px;
height: 300px;
margin-left: auto ;
margin-right: auto ;
    position: relative;
}

body{
	color: #000000;
	font-family: Verdana, sans-serif;
	font-size: 70%;
	background-color: #e6f3e6;
	line-height: 1.5em;	
	height: 100%;
	padding: 0px;
	}

html{
	height: 100%;
}
	
#nombre_usuario{
    list-style:none;
    position: relative;
    top: 4px;
    left: 100px;
}
#nombre_usuario li{
	margin:0px;
	padding:0px;
	float:left;
	position:relative;
}
#nombre_usuario li a{
	display: block;
	min-width: 100px;
	height: 30px;
	padding: 6px;
	font-size: 14pt;
	font-weight:100;
	text-decoration: none;
	color:#82c396;
	text-align: center;
	position: relative;
 
}
#nombre_usuario li a:hover{
	color:#62d7ba;
	text-decoration:underline;
	display: block;
}

#nombre_usuario ul{
	display: none;
    position:relative;
	top:-15px;
	margin:0px;
    margin-left: 15%;
	list-style:none;
	padding:0px;
}
#nombre_usuario ul li a{
	border:none;
	width: 100px;
	display:block;
	text-align:center;
	color: #ffffff;
}

#nombre_usuario ul li a:hover{
	color: #ffffff;
}

#nombre_usuario li:hover ul{
    display: block;
    list-style: none;
    text-decoration: none;
}

.elem_usuario{
	background: #82c396;
}

.elem_usuario:hover{
	background: #62d7ba;
}